body {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
header {
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin: 20px; 
}
#reset-button,#number-display {
  box-sizing: border-box;
  width: 25%;
  height: 60px;
  background-color: burlywood;
  margin: 10px;
  border: 5px solid black;
  

}
#reset-and-num-display {
  display:flex;
  justify-content: space-around;
}
#intro-quote {
  font-size: 40px;
  margin: 20px;
}
#intro-greeting,#main-interactive-area {
  background-color: burlywood;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
#begin-button {
  margin:15px;
  width: 60%;
  
}
button {
  font-size: 40px;
}
