html {
  background-image: url(https://wallpaper-gallery.net/images/classic-music-wallpaper/classic-music-wallpaper-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body {
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}
main {
  padding: 10px;
  height: 1000px;
}
header {
  font-size: 100px;
  display: flex;
  justify-content: center;
  margin: 20px; 
}
#reset-button,#number-display{
  box-sizing: border-box;
  width: auto;
  height: 60px;
  margin: 10px;
  border: 5px solid black;
  padding: 5px;
}

#question-num-display,#score-num-display {
  font-size: 20px;
}
#reset-and-num-display {
  display:flex;
  justify-content: space-around;
}
#intro-quote {
  font-size: 40px;
  margin: 20px;
}
#intro-greeting {
  height: 75%;
}
#intro-greeting,#main-interactive-area {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#begin-button,.question-submit {
  margin:15px;
  font-size: 40px;
  border: 5px solid black;
  padding: 20px;
}
button {
  font-size: 40px;
}
#answer-area {
display: flex;
height:80%;
width: 100%;
align-items: stretch;
}
#question-block {
display: flex;
width: 100%;
flex-direction: column;
justify-content: space-between;
text-align: start;
border: none;

}
.question {
  display: flex;
  justify-content: center;

}
#main-interacStive-area,#feedback {
  height: auto;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}
#feedback {
  font-size: 40px;
  margin:30px;

}
.question-submit {
  align-self: center;
}
.answer {
  font-size: 40px;
}
button:hover, input:hover {
  cursor: pointer;
  background-color: green;
}

